@charset "utf-8";

.top{
    margin-top: 75px;
}
.subtitle{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}
a{
    text-decoration: none;
    color: royalblue;
}

/* about */
.about{
    width: 50%;
    margin: auto;
}
.aboutpic{
    width: 45%;
}
.aboutpic img{
    width: 100%;
}
.about-s{
    display: flex;
    justify-content: center;
}

/* サービス */

.service{
    width: 50%;
    margin: auto;
}
.servicepic{
    width: 64%;
    margin-right: 10px
}
.servicepic img{
    width: 100%;
}
.servicepic-s img{
    width: 96%;
}
.topic{
    display: flex;
    width: 100%;
}
.topic h2{
    margin: 0 0 0 0;
}

/* スキル */
.skills{
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .aboutme{
        display: block;
        width: 100%;
    }
    .link{
        line-height: 10px;
        margin: auto;
        width: 70%;
    }
    .service-f{
        display: block;
        width: 100%;
    }
    .service-f img{
        width: 100%;
    }
    .service-f{
        display: block;
        margin: 0 0 0 0;
    }
    .detail{
        width: 100%;
    }
    .about{
        margin: auto;
        width: 70%;
    }
    .aboutme img{
        width: 100%;
        margin: auto;
    }
    .aboutpic{
        margin: auto;
        width: 70%;
    }
    .myname h3{
        text-align: center;
    }
    /* スキル */
    .skills{
        width: 90%;
        margin: auto;
    }
}